#app {
  display: flex;
}

#leaderboard {
  flex: 1;
  background-color: #dedef0;
}

#graph {
  width: 600px;
  height: 300px;
  border: 1px solid black;
}

.draw {
  width: 600px;
  height: 300px;
}

.row {
  display: flex;
}

.column {
  flex: 1;
}